.explore {
    display: flex;
    background-color: $gray;

    &__photo {
        flex: 0 0 50%;
        padding-right: 120px;
        position: relative;
        max-height: 600px;

        @include tablet {
            padding-right: 50px;
        }

        @include mobile {
            display: none;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content {
        flex: 0 0 100%;
        transform: translateX(-50%);

        @include mobile {
            transform: translateX(0);
        }
    }

    &__container {
        display: flex;
        justify-content: end;
    }

    &__body {
        flex: 0 1 50%;

        @include mobile {
            flex: 0 1 100%;
        }
    }

    &__quote {
        margin-top: 60px;
        display: block;
        font-style: italic;
        font-size: 18px;
        font-weight: 400;

        @include mobile {
            margin-top: 20px;
        }
    }

    &__text {
        margin-top: 65px;
        max-width: 330px;

        @include mobile {
            margin-top: 20px;
        }
    }

    &__button {
        margin-top: 60px;

        @include mobile {
            margin-top: 20px;
        }
    }
}