.gallery {
    &__container {
        display: flex;
    }

    &__info {
        flex: 0 0 155px;
    }

    &__title {
        text-align: right;
    }

    &__text {
        text-align: right;
        font-size: 14px;
        margin-top: 20px;
    }

    &__link {
        margin-top: 130px;
    }

    &__slider {
        flex: 0 1 100%;
        margin-left: 130px;
    }

}