.recommendation {
    background-color: $gray;

    &__info {
        padding-top: 145px;

        @include tablet {
            padding-top: 50px;
        }
    }

    &__viewport {
        margin: 190px 0 65px;
        display: flex;
        justify-content: space-between;
        gap: 15px;

        @include tablet {
            margin: 40px 0 40px;
        }
    }
}