.sub-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 520px;
    padding-bottom: 100px;

    @include mobile {
        padding-bottom: 20px;
    }

    &__area {
        display: flex;
        margin-top: 95px;
        width: 100%;
        gap: 20px;

        @include mobile {
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
        }
    }

    &__input {
        border: none;
        outline: none;
        font-size: 14px;
        flex: 0 1 100%;
        border-radius: 50px;
        padding: 0 20px;
        color: $black;
        font-weight: 600;
        padding: 16px 40px;

        &--error {
            outline: 2px solid red;
        }
    }

    &__background {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
    }
}