.user {
    display: flex;
    align-items: stretch;

    &__link {
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        color: $white;
        display: flex;
        align-items: center;
        min-width: fit-content;
        transition: color 0.3s;

        &:hover {
            color: $orange;
        }
    }

    &__line {
        flex: 0 0 2px;
        background-color: $white;
        margin: 0 58px;
    }

    &__photo {
        width: 24px;
        height: 24px;
        background-color: transparent;
        margin-left: 20px;
    }
}