.filter {
    min-width: fit-content;
    position: relative;
  
    &__button {
      border: none;
      outline: none;
      background: none;
      color: #fff;
      font-size: 14px;
      cursor: pointer;
      padding: 0 10px;
  
      &:hover {
        color: #fee251;
      }
    }
  
    &__select {
      list-style-type: none;
      font-size: 14px;
      position: absolute;
      z-index: 100;
      transition: all 0.3s;
      opacity: 0;
      background-color: rgba(40, 39, 42, 0.9);
      padding: 0 10px 10px;
  
      &--visible {
        opacity: 1;
      }
    }
  
    &__option {
      margin-top: 10px;
      display: block;
      cursor: pointer;
  
      &:hover {
        color: #fee251;
      }
  
      &--selected {
        border-bottom: 1px solid #fff;
      }
    }
  }