.footer {
    padding: 40px 60px;
    background-color: #fee251;
    display: flex;
    justify-content: space-between;

    &__copyright {
        color: #000;
    }

    &__social {
        display: flex;
        gap: 25px;
    }

    &__link {
        width: 16px;
        height: 16px;
    }

    &__icon {
        width: 100%;
        transition: transform 0.3s;

        &:hover {
            transform: scale(1.05);
        }
    }
}