.link {
    display: flex;
    align-items: baseline;
    text-decoration: none;
    color: #fff;
    font-size: 14px;

    &:hover &__line {
        background-color: #fee251;
    }

    &:hover &__text {
        color: #fee251;
    }

    &__line {
        flex: 0 1 100%;
        height: 2px;
        background-color: #fff;
        transition: background-color 0.3s;
    }

    &__text {
        flex: 0 1 100%;
        text-align: right;
        transition: color 0.3s;
    }
}