.spot {
    width: 100%;
    max-width: 275px;
    display: flex;
    flex-direction: column;

    &__photo {
        padding-bottom: 100%;
        position: relative;
        overflow: hidden;
    }

    &__image {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }

    &__name {
        margin-top: 50px;
    }

    &__country {
        color: #727474;
    }

    &__description {
        flex: 0 1 100%;
        font-size: 14px;
        margin-top: 35px;
    }

    &__link {
        text-decoration: none;
        color: #fee251;
        font-size: 14px;
        font-weight: 600;
        margin-top: 55px;
        max-width: fit-content;
        position: relative;

        &:hover::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #fee251;
            animation: underline 0.3s linear;

            @keyframes underline {
                0% {
                    width: 0;
                }

                100% {
                    width: 100%;
                }
            }
        }
    }
}